.aboutmetrigger {
  height: 500vh;
}

.title-aboutme {
  transform: translateY(50vh);
  font-size: clamp(28px, 15vw, 130px);
  text-shadow: -1px -1px 0 #fc6d1d, 1px -1px 0 #fc6d1d, -1px 1px 0 #fc6d1d, 1px 1px 0 #fc6d1d;
  color: #fc6d1d;
}

.text-aboutme {
  transform: translateX(100vw);
  font-size: clamp(28px, 5vw, 50px);
  height: 100vh;
  /* text-shadow: -1px -1px 0 #fc6d1d, 1px -1px 0 #fc6d1d, -1px 1px 0 #fc6d1d, 1px 1px 0 #fc6d1d; */
  /* color: #fc6d1d; */
  /* top: 0; */
}

.title-aboutme-inside-text-container {
  font-size: clamp(28px, 15vw, 130px);
  text-shadow: -1px -1px 0 #fc6d1d, 1px -1px 0 #fc6d1d, -1px 1px 0 #fc6d1d, 1px 1px 0 #fc6d1d;
  /* transform: translateX(-100vh); */
  transform: translateY(-15vw);
  transform: translateX(-550vw);
}

.title-aboutme-inside-text-container-2 {
  font-size: clamp(28px, 15vw, 130px);
  /* text-shadow: -1px -1px 0 #fc6d1d, 1px -1px 0 #fc6d1d, -1px 1px 0 #fc6d1d, 1px 1px 0 #fc6d1d; */
  /* transform: translateX(-100vh); */
  transform: translateY(-15vw);
  /* transform: translateX(-550vw); */
}
