.project-cards {
  @apply absolute top-1/2 left-1/2 flex flex-col border-4 border-dark w-3/4 sm:w-6/12 md:w-5/12 lg:w-custom-lg;
}

.project-cards {
  user-select: none; /* Mencegah pemilihan teks */
  pointer-events: auto; /* Mengaktifkan interaksi mouse */
  cursor: grab; /* Mengganti kursor mouse menjadi grab */
  transition: "transform 0.5s" !important;
  transform-origin: center;
  font-size: clamp(11px, 3vw, 15px);
}

.rotate-transition {
  transition: transform 0.3s ease; /* Ganti durasi dan jenis transisi sesuai kebutuhan */
}

.tes {
  transform: translateX(50px);
  transition: all 3s;
}

.main-project-cards {
  @apply flex-grow   bg-main border-dashed border-b-4 border-dark w-full relative;
}
.main-project-cards {
  height: 55vh;
  width: 100%;
}
.main-project-cards > img {
  @apply object-cover h-3/4;
}

.footer-project-cards {
  @apply bg-main h-fit  p-2.5;
}

.footer-container {
  @apply flex border-dark rounded-lg h-full;
}
.footer-container {
  border: solid #0f0f0f 3px;
}

.project-desc {
  @apply w-3/5 p-1.5;
}
.project-desc {
  border-right: solid #0f0f0f 3px;
}
.project-desc > h5 {
  @apply text-center font-bold;
}
.project-desc > p {
  font-size: clamp(11px, 3vw, 13px);
}

.footer-img-container {
  @apply w-2/5 relative p-2;
}
.footer-img-container > img {
  @apply object-contain;
}
