.project-cards {
  @apply absolute top-1/2 left-1/2 flex flex-col border-4 border-dark w-2/3 sm:w-6/12 md:w-5/12 lg:w-2/12;
}

.project-cards {
  user-select: none; /* Mencegah pemilihan teks */
  pointer-events: auto; /* Mengaktifkan interaksi mouse */
  cursor: grab; /* Mengganti kursor mouse menjadi grab */
  transition: "transform 0.5s" !important;
  transform-origin: center;
  font-size: clamp(11px, 3vw, 16px);
}

.rotate-transition {
  transition: transform 0.3s ease; /* Ganti durasi dan jenis transisi sesuai kebutuhan */
}

.tes {
  transform: translateX(50px);
  transition: all 3s;
}

.main-project-cards {
  @apply flex-grow bg-main border-dashed border-b-4 border-dark w-full h-full relative;
}
.main-project-cards {
  height: 55vh;
  width: 100%;
}

.project-desc {
  border-right: solid #0f0f0f 3px;
}
.project-desc > p {
  font-size: clamp(11px, 3vw, 16px);
}

.footer-project-cards {
  @apply bg-main h-fit;
}

.footer-container {
  border: solid #0f0f0f 3px;
}
