.borderSKilss {
  border: 1px solid;
  border-radius: 15px;
}

.skills-title {
  font-size: clamp(14px, 3vw, 24px);
}

.skilss-title-image-contain > img {
  animation: spin 5s linear infinite;
}

.skills-container {
  background-image: url("/skills-bg.gif");
  background-size: cover; /* Atur gambar agar memenuhi seluruh area div */
  background-repeat: no-repeat; /* Mencegah pengulangan gambar latar belakang */
  background-position: center center;
  transform: translateY(100vh);
  opacity: 0;
}

.Pskills {
  height: 550vh;
}

.opening-text {
  /* transform: translateY(50vh); */
  font-size: clamp(15px, 3vw, 30px);

  opacity: 0;
}

.title-skils {
  opacity: 0;
}

.main-skills {
  transform: translateY(100vh);
  top: 0vh;
}

@keyframes spin {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
