.borderSKilss {
  border: 1px solid;
  border-radius: 15px;
}

.skills-title {
  font-size: clamp(14px, 0.5vw, 24px);
}

.skills-container {
  background-image: url("/skills-bg.gif");
  background-size: cover; /* Atur gambar agar memenuhi seluruh area div */
  background-repeat: no-repeat; /* Mencegah pengulangan gambar latar belakang */
  background-position: center center;
  /* transform: translateY(100vh); */
  opacity: 0;
}

.Pskills {
  height: 800vh;
}

.opening-text {
  /* transform: translateY(50vh); */
  font-size: clamp(15px, 3vw, 30px);

  opacity: 0;
}

.title-skils {
  opacity: 0;
}

.main-skills {
  transform: translateY(100vh);
  top: 0vh;
}
